<!DOCTYPE HTML>
<html >
<head >
  <title> University Course Review! </title>

  <link rel="stylesheet" href="CSS/bootstrap.min.css">gi
  <link rel="stylesheet" href="CSS/mainStylesheet.css">
  <link rel="stylesheet" href="CSS/commonCss.css">
  <link rel="stylesheet" href="CSS/font-awesome-4.7.0/css/font-awesome.min.css">

  <script src="JS_SCRIPTS/angular.min.js"></script>
  <script src="JS_SCRIPTS/jquery.min.js"></script>
  <!--<script src="JS_SCRIPTS/bootstrap.min.js"></script>-->

  <script src="app.js"></script>
  <script src="Factory/commonFactory.js"></script>
  <script src="Controller/mainController.js"></script>


</head>
<body ng-app="UCRLogin" ng-controller="mainController" class="background container-fluid">

  <div class="authenticationHolder row">
    <div class="orangeFont appHeading background">
      {{appName}}
    </div>
    <div>
      <div class="col-xs-12 col-sm-5">
        <div ng-include="'Views/applicationDescription.html'"></div>
        <div ng-include="'Views/CoursesPresent.html'"></div>
      </div>

      <div class="col-xs-12 col-sm-7 container-fluid loginHolder borderShadow">

        <div ng-show="signIn">
          <div class="floatRight btn btn-default alreadyHaveButton" ng-click="signIn=false;"> Already have an account! </div>
          <div class="clearBoth"></div>
          <div ng-include="'Views/signup.html'"></div>
        </div>

        <div ng-hide="signIn">
          <div class="floatRight btn btn-default alreadyHaveButton" ng-click="signIn=true;"> Don't have an account? </div>
          <div class="clearBoth"></div>
          <div ng-include="'Views/login.html'"></div>
        </div>


      </div>
    </div>
  </div>

</body>