<!-- created by Neha Sachdev 9/19/2017 -->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>University Course Reviews</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="index.css">
	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="routes.js"></script>
    <script src="maincontroller.js"></script>
    <script src="announcementCtrl.js"></script>
    <script src="courseReviewCtrl.js"></script>
    <script src="ProfessorCtrl.js"></script>

</head>

<body ng-app="ucr" ng-controller="maincontroller">
		<div class="container-fluid">
		<div class="panel panel-default">
  			<div class="panel-heading">
  				<div class="row">
  					<div class ="col-sm-12"><i class="fa fa-search"></i>  <i class="fa fa-graduation-cap"></i>  {{pageHead}}</div> 
  				</div>

  		</div>
  			<div class="panel-body">
  				<div class="row">

  					<div class="col-sm-4" id="prof">Welcome Professor {{ProfName}}!</div>
  					<div class="col-sm-5"></div>
  					<div class="col-sm-2">
  						Last Login: {{timestamp}} </div>
  						<div class="col-sm-1">
  						<i class="fa fa-bell-o fa-2x"></i>   <i class="fa fa-question-circle-o fa-2x"></i>   <i class="fa fa-sign-out fa-2x"></i>
  					</div> 	
  				</div>

  				 <div class="container-fluid">
  				<div class="panel panel-default">
  					<div class="panel-body">
  						<ul class="nav nav-tabs">
  							 <li ng-class="tabClass(tab)" ng-repeat="tab in tabs" tab="tab"><a href="{{tab.link}}" ng-click="setSelectedTab(tab)">{{tab.label}}</a></li>
  						</ul>
  						<div ng-view></div>
  					</div>
  				</div>
  			    </div> 
  			</div>


		</div>
	</div>
</body>
</html>