html, body {
    height: 100vh;
    overflow: auto;
    }

.height100{
    height: 94%;
    }

.ucrPageHolder{
    padding: 0px !important;
    background: white;
    border-radius: 3px;
    border: solid 2px #F1F1F1;
}
.entirePageColor{
    background-color: #F7F7F7;
}

.background{
    background-color: #830000 !important;
}

.orangeFont{
    color: #F9B820 !important;
}

.padding10{
    padding: 0 10px;
}

.padding0{
    padding: 0;
    }

.cursorPointer{
    cursor: pointer;
}

.textAlignEnd{
    text-align: end;
}

.fontHeader{
    font-size: 20px !important;
    font-weight: bold;
}

.fontBold{
    font-weight: bold;
}

a{
    color: black;
    }