/**
   * Created by Apoorva on 11/14/2017.
**/
.deleteThis{
    border: solid 1px;
    padding: 15px;
    }

.starRatingColor1, .starRatingColor2{
    color: red;
    }


.starRatingColor3{
    color: #FFCC00;
    }


.starRatingColor4, .starRatingColor5{
    color: greenyellow;
    }