<div ng-controller="announcementCtrl" >

	<div class="heading"> Announcement - Current Courses </div>
	<div style="overflow-x:auto;">

		<div style="float:left; width:35%;">
			<table>
				<tr>
					<th> Course ID </th>
					<th> Course Name </th>
					<th> Announce </th>
				</tr>
				<tr ng-repeat="cr in Course1 track by $index">
					<td>{{cr.courseId}}</td>
					<td>{{cr.courseName}}</td>
					<td><i class="fa fa-sticky-note-o fa-2x" id="{{cr.courseId}} {{cr.courseName}}" ng-click="DisplayForm($event)"></i>
					</td>
				</tr>
			</table>
		</div>

		<div style="float:left; width:65%; overflow-x: auto;" ng-show="myValue"  class="ng-cloak" id="FormDisplay">
			<table id='{{subject}}' ng-table="tableParams">
				<tr> <th> Announcements for {{subject}}<th></tr>
				<tr>
					<td>Can you please tell about {{subject}} ? </td>
					<td><textarea rows="4" cols="50" ng-model="About"></textarea></td>
				</tr>

				<tr>
					<td>Can you give more details on Exam Pattern , Exam Dates & Assignments?</td>
					<td><textarea rows="4" cols="50" ng-model="Exam"></textarea></td>
				</tr>

				<tr>
					<td>What will be your office hours this semester?</td>
					<td><textarea rows="4" cols="50" ng-model="OfficeHours"></textarea></td>
				</tr>

				<tr>
					<td>Is there any other Information you would like to share about {{subject}} ?</td>
					<td><textarea rows="4" cols="50" ng-model="Info"></textarea></td>
				</tr>

				<tr>
					<td></td>
					<td><input type="button" ng-click="SubmitForm()" value="Submit" id="SubmitBtn"></input></td>
				</tr>

			</table>
		</div>


	</div>
</div>



</div>
</div>
