<!DOCTYPE html>
<html lang="en">

<div ng-controller="courseReviewCtrl">
    <!--<div class="heading"> Reviews - All Courses </div>-->


    <div class="col-md-3">
        <table>
            <tr>
                <th>ID </th>
                <th>Course Name </th>
                <th>Reviews</th>

            </tr>
            <tr ng-repeat="cr in Course1 track by $index">
                <td>{{cr.courseId}}</td>
                <td>{{cr.courseName}}</td>
                <td><i class="fa fa-hand-o-right fa-2x hand" id="{{cr.courseId}} {{cr.courseName}}" ng-click="DisplayForm($event)"></i></td>
            </tr>
        </table>
    </div>

    <div class="col-md-7" ng-show="ReviewDiv" style="max-height:500px;overflow-y: auto;">
        <table>
            <tr>
                <th>
                    <span class='review'>Reviews (1/{{noOfReviews}}) &nbsp; {{subject}}</span>
                    <span class='dropdown'>
					<select class="dropdownCss">
						<option ng-repeat="x in menuItems">{{x}}</option>
					</select>
				</span>
            </tr>
            <tr ng-repeat="rv in CourseReviews track by $index" id="myBtn" ng-click="ShowDetails(rv)" class="reviewsRows" >
                <td>
                    <span>{{$index+1}}</span>
                    <span class="StudentName"><b>{{rv.name}}</b> <small> {{rv.dateReview}}</small></span>
                    <span class="Term"><small><b>Term :</b>{{rv.term}}</small></span>
                    <span class="star-icon" ng-repeat="r in getRepeater() track by $index" ng-class="{'full': ($index + 1)
                <= rv.avgStarRating, 'half': ($index + .5) == rv.avgStarRating}" style="margin-right: 5px;" >{{$index}}</span>
			<br/>
			<span class="reviewdata">{{rv.generalReview}}</span>
                </td>
            </tr>
        </table>
       <!-- <center ng-show="ReviewDiv"><b>Pagination</b></center> -->
    </div>
    <div class="col-md-7" ng-show="ReviewQuestion" style="max-height:500px;overflow-y: auto;">
        <table>

            <tr>
                <td colspan="3" style="color: #870000"><b>Questions answered by {{name}}</b></td>
            </tr>
            <tr>
                <td>Question</td>
                <td>Review</td>
                <td>Rating</td>
            </tr>
            <tr ng-repeat="q in Reviews track by $index" >
                <td><b>{{q.Question}}</b></td>
                <td>{{q.text}}</td>
                <td> {{q.rating}}<span class="star-icon" ng-repeat="r in getRepeater() track by $index" ng-class="{'full': ($index + 1)
                <= q.rating, 'half': ($index + .5) == q.rating}" style="margin-right: 5px;" >{{$index}}</span></td>

                <td></td>

            </tr>


        </table>
    </div>
    <div class="col-md-2" ng-show="FilterDiv" >
        <table>
            <tr>
                <th>Keywords</th>
            </tr>

            <tr>
                <td><input type="textbox" value="Keyword Search"/> <i class="fa fa-search fa-1x"></i></td>
            </tr>
            <tr>
                <th> Sentiments</th>
            </tr>
            <tr>
                <td><ul ng-repeat="st in Sentiments"><option><input type="checkbox" id="{{st}}"  />{{st}}</option></ul></td>
            </tr>
            <tr>
                <th>Semesters</th>
            </tr>
            <tr>
                <td><ul ng-repeat="sm in sem">
                    <option><input type="checkbox" id="{{sm}}" style="margin-right: 10%" />{{sm}}</option>
                </ul></td></tr>
            <tr>
                <td><div google-chart chart="myChartObject" style="height:100px; width:100%;"></div></td>
            </tr>
        </table>

    </div>





</div>
<html>