<div ng-controller="ProfessorCtrl">
    <div class="heading"> {{currentSem}} - Current Courses </div>
    <div id="TableDiv"><table>
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Colab with Prof.</th>
            <th>Class Venue</th>
            <th>Class Timings</th>
        </tr>
        <tr ng-repeat="cr in Course1">
            <td>{{cr.courseId}}</td>
            <td>{{cr.courseName}}</td>
            <td>{{cr.colab}}</td>
            <td>{{cr.venue}}</td>
            <td>{{cr.timings}}</td>
        </tr>
    </table>
    </div>

    <div class="heading"> {{prevSem}} Courses </div>
    <div>
        <table>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Colab with Prof.</th>
                <th>Class Venue</th>
                <th>Class Timings</th>
            </tr>
            <tr ng-repeat="cr in Course2">
                <td>{{cr.courseId}}</td>
                <td>{{cr.courseName}}</td>
                <td>{{cr.colab}}</td>
                <td>{{cr.venue}}</td>
                <td>{{cr.timings}}</td>
            </tr>
        </table>
    </div>
</div>