<div ng-controller="studentAnnounce">
<div class="col-md-4" style="overflow-x:auto;">
<table>
    <tr>
        <td class="heading">Select the course to view announcement</td></tr>
    <tr>
        <td><select ng-model="courseName">
            <option ng-repeat="x in courseNames" >{{x}}</option>
        </select> </td>
        <td><input type="button" ng-click="SubmitForm()" value="Submit" id="SubmitBtn" class="submitButton"/> </td>
    </tr>
</table>
</div>

<div class="col-md-8" style="overflow-x:auto;" ng-show="filterannounce">
   <table>
       <tr style="font-weight: bold">
           <td>{{headerCourseName}}</td>

       </tr>
       <tr>
           <td>{{courseName1}}</td>
       </tr>

       <tr style="font-weight: bold">
           <td>{{headerCourseInfo}}</td>
       </tr>
       <tr>
           <td>{{courseInfo}}</td>
       </tr>

       <tr style="font-weight: bold">
           <td>{{headerExamDetails}}</td>
       </tr>

       <tr>
           <td>{{examInfo}}</td>
       </tr>

       <tr style="font-weight: bold">
           <td>{{headerOffice}}</td>
       </tr>

       <tr>
           <td>{{officeInfo}}</td>
       </tr>

       <tr style="font-weight: bold">
           <td>{{headermoreInfo}}</td>
       </tr>

       <tr>
           <td>
            {{moreInfo}}
           </td>
       </tr>


   </table>
</div>
</div>